@tailwind base;
@tailwind components;
@tailwind utilities;

/* or in your `app.css` file */
@import '/node_modules/flowbite-vue/dist/index.css';

// Your custom SCSS styles

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ol, ul, menu {
  list-style: initial;
  margin: 5px 20px;
  padding: initial;
}

a {
  @apply text-yellow-800 hover:underline hover:text-yellow-900 transition-colors duration-200 ease-in-out font-semibold;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
